<h1>Nouvelle inscription détectée</h1>
<p>
  L'utilisateur <strong><%= @participant.first_name %></strong> vient de s'inscrire à l'événement <strong><%= @event.title %></strong>.
</p>
<p>
  L'organisateur de cet événement est : <%= @admin.email %>
</p>