<h1>Nouveau participant !</h1>
<p>Salut <%= @admin.first_name %>,</p>
<p>
  L'utilisateur <%= @attendance.user.first_name %> vient de s'inscrire à ton événement : 
  <strong><%= @event.title %></strong>.
</p>