<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>
      Bienvenue sur notre Eventbrite local. Tu t'es inscrit avec l'email : <%= @user.email %>.
    </p>
    <p>
      À très vite sur le site !
    </p>
  </body>
</html>