<%# On supprime la navbar d'ici car elle est déjà dans layouts/application.html.erb %>

<section class="py-5">
  <div class="container px-5 my-5">
    <div class="text-center mb-5">
      <h1 class="fw-bolder">Événements à venir</h1>
      <p class="lead fw-normal text-muted mb-0">Découvrez les meilleures expériences près de chez vous</p>
    </div>
    
    <div class="row gx-5">
      <% @events.each do |event| %>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <%# Image de l'événement %>
            <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
            
            <div class="card-body p-4">
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">Live</div>
              <h5 class="card-title mb-3"><%= event.title %></h5>
              <p class="card-text mb-0 text-dark"><%= event.description %></p>
            </div>
            
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="small">
                    <div class="fw-bold text-dark"><%= event.admin.email %></div>
                    <div class="text-muted"><%= event.start_date.strftime('%d %b %Y') %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>